{% extends 'base.html' %}
{% load static %}


{% block 'content_body' %}

<div id="banner">
    <picture></picture>
</div>

<main>
    <div id="container1">
        <img src="{% static 'images/estudante1.png' %}" alt="Estudante 1" id="estudante1">
        <div class="conteudo">
        <h1>LOREM</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, veniam cumque porro dicta impedit vero distinctio pariatur consectetur magnam. Maxime, veritatis? Delectus temporibus eligendi eaque quae adipisci, labore sequi modi?</p>
        </div>
    </div>
    <div id="container2">
        <img src="{% static 'images/estudante2.png' %}" alt="Estudante 2" id="estudante2">
        <div class="conteudo">
        <h1>LOREM</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis, voluptate ipsa, quae harum ipsum perspiciatis totam facere maxime eveniet tenetur hic doloribus eaque nisi neque laboriosam alias exercitationem! Illo.</p>
        </div>
    </div>
</main>

<section id="NL">
    <h1>RECEBA QUESTÕES NO SEU EMAIL</h1>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input 
            type="text" 
            name="name" 
            id="nome" 
            class="input" 
            placeholder="NOME"
        >
        <input 
            type="text" 
            name="lastname" 
            id="sobrenome" 
            class="input" 
            placeholder="SOBRENOME"
        >
        <input  
            type="email"   
            name="email"  
            id="email"   
            class="input"   
            placeholder="EMAIL"
        >
        <input  
            type="submit"  
            value="CADASTRAR"
            name="cadastrar"  
            id="cadastrar"
        >
    </form>
</section>

{% if enviado %}
    <script>
        alert('DADOS ENVIADOS! PARABÉNS');
    </script>
{% endif %}

{% endblock %}